<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Kaufmännisches Runden von Preisen</label>
    <label lang="en">Round prices commercially</label>

    <version>1.2.0</version>
    <link>https://www.ksk-agentur.de/</link>
    <author>KSK-Agentur</author>
    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Zusatzkonfiguration pro Währung</changes>
        <changes lang="de">Auf- und Abrunden auf den nächsten 10er, 100er oder 1000er</changes>
        <changes lang="de">Nach dem Runden einen Wert subtrahieren</changes>
        <changes lang="en">Additional configuration per currency</changes>
        <changes lang="en">Round up and down to the next 10's, 100's or 1000's</changes>
        <changes lang="en">Subtract a value after rounding</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">Fehler behoben: Im Backend wurden die neuen Konfigurationsfelder nicht angezeigt.</changes>
        <changes lang="en">Bugfix: Configuration field did not show up in the backend.</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de">Neue Funktion "AlwaysUp": Preise immer aufrunden. Auch wenn sie eigentlich abgerundet würden.</changes>
        <changes lang="en">New feature "AlwaysUp": Prices will always be rounded up. Even if they would normally be rounded down.</changes>
    </changelog>
    <changelog version="1.1.1">
        <changes lang="de">Bugfix: Kompatibilität mit Shopware 5.3 verbessert.</changes>
        <changes lang="en">Bugfix: Improved compatibility for Shopware 5.3.</changes>
    </changelog>
    <changelog version="1.2.0">
        <changes lang="de">Neues Feature: Runden auf 0,1er (10-Cent-Schritte)</changes>
        <changes lang="en">New Feature: Round to 0.1's (10-Cent-Steps)</changes>
    </changelog>
</plugin>
